#page-topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: var(--bs-header-bg);
    border-bottom: 1px solid var(--bs-border-color) !important
}

.vertical-menu {
    width: 250px;
    z-index: 1001;
    background: var(--bs-sidebar-bg);
    bottom: 0;
    margin-top: 0;
    position: fixed;
    top: 70px;
    border-right: 1px solid var(--bs-border-color);
}

.simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}